# Environment files
.env

# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE/Editor files
.vscode/
*.swp
.vs/Internship-Tracker/FileContentIndex/8bf0b623-abf6-4978-9673-eb09eb8c12d0.vsidx
.vs/Internship-Tracker/FileContentIndex/d9fe345c-a67c-4caf-a2b4-692a13ff2627.vsidx
.vs/Internship-Tracker/FileContentIndex/da20e5a7-53ca-4a04-a046-bc59544f8fce.vsidx
.vs/Internship-Tracker/FileContentIndex/d9fe345c-a67c-4caf-a2b4-692a13ff2627.vsidx
.vs/Internship-Tracker/v17/.wsuo
.vs/Internship-Tracker/v17/DocumentLayout.backup.json
/.vs
/.vs
/.vs
.vs/Internship-Tracker/FileContentIndex/d9fe345c-a67c-4caf-a2b4-692a13ff2627.vsidx
.vs/Internship-Tracker/v17/.wsuo
.vs/Internship-Tracker/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
node_modules/.package-lock.json
.vs/Internship-Tracker/FileContentIndex/d9fe345c-a67c-4caf-a2b4-692a13ff2627.vsidx
.vs/Internship-Tracker/v17/.wsuo
.vs/Internship-Tracker/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
node_modules/.package-lock.json
